@import "vars"
@import "fonts"
@import "libs"

body
	font-size: 16px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	display: flex
	height: 100vh
	background-color: #fafafa

	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green


.text-center
	text-align: center

aside
	background-color: #1e1d26
	width: 220px
	height: 100%
	display: flex
	flex-direction: column
	justify-content: space-between
	
.aside-bottom
	height: 60px
	background-color: #19181e
	border-top: 1px solid #111111
	padding: 20px
	display: flex
	justify-content: space-between
	align-items: center



@import "media" // Always at the end
